@use "../abstracts/variables";

body {
  font-family: variables.$font-primary;
  font-weight: 400;
  font-size: 1.6rem;
  /* line-height: 1.7 means 1.7 times bigger than the pre-defined line-height */
  line-height: 1.7;
  //   color: variables.$colour-white;
}
