@use "../abstracts/variables";

body {
  font-family: variables.$font-primary;
  font-weight: 400;
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: 600;
  line-height: 1.2;
}

.h1 {
  /* min, 3.7rem add vw amount based on width of screen, max */
  font-size: clamp(4.2rem, 3.7rem + 1.4vw, 5.7rem);
  /* em means relative to the font size of the element itself */
  letter-spacing: -0.035em;
}

.h2 {
  font-size: clamp(3.3rem, 3.05rem + 0.85vw, 4.3rem);
  letter-spacing: -0.025em;
}

.h3 {
  font-size: clamp(2.65rem, 2.5rem + 0.5vw, 3.2rem);
  letter-spacing: -0.015em;
}

.h4 {
  font-size: clamp(2.1rem, 2.05rem + 0.25vw, 2.4rem);
  letter-spacing: -0.01em;
}

.accent {
  font-size: clamp(1.9rem, 1.75rem + 0.5vw, 2.4rem);
  letter-spacing: -0.01em;
  color: variables.$colour-light-blue;
  font-weight: 400;
}

p,
ul,
ol,
li,
div,
span {
  font-size: 1.7rem;
  line-height: 1.75;
}

small {
  font-size: 1.4rem;
}

a {
  cursor: pointer;
}
