@use "../abstracts/variables";

.hero {
  display: grid;
  /* minmax(minsize, maxsize) */
  /* four columns for guttering -> not in container anymore */
  grid-template-columns:
    /* as minimum - want 2rem padding / guttering */
    minmax(2rem, 1fr)
    /* minmax(0, value) 
    - 0 value allows browser to shrink values SMALLER than natural width of content. value = max size */
    minmax(0, 62rem)
    minmax(0, 70rem)
    minmax(2rem, 1fr);
  align-items: center;
  /* use min-height cause 3 height values in clamp = min, preferred, max */
  /* svh = small viewport height - matters on mobile - browser address bar and 
  bottom controls appear and dissapear. */
  min-height: clamp(55rem, 75svh, 75rem);
  background-color: variables.$colour-navy;
  &__content {
    grid-column: 2;
    max-width: 55rem;
  }
  &__image {
    /* go to edge of container */
    grid-column: 3 / -1;
    height: 100%;
    position: relative;
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      inset: 0;
      position: absolute;
      background: linear-gradient(
        to bottom,
        rgba(0, 12, 33, 0.9) 0%,
        rgba(0, 12, 33, 0.7) 20%,
        transparent 100%
      );
    }
    & img {
      display: block;
      width: 100%;
      height: 100%;
      /* object-fit: Make the image completely fill its box without stretching it. */
      object-fit: cover;
      /* object-position: tells the browser which part of the image to prioritise 
      when cropping. */
      /* 75% across the image: focus towards the right
      25% down the image: focus towards the top */
      object-position: 75% 20%;
      border-radius: 0;
    }
  }
  &__heading {
    color: variables.$colour-white;
  }
  &__description {
    color: variables.$colour-white-muted;
  }
}
