/* Error: There's already a module with namespace "services".
 *     ,
 * 22  | @use "components/services";
 *     | ========================== original @use
 * ... |
 * 27  | @use "pages/services";
 *     | ^^^^^^^^^^^^^^^^^^^^^ new @use
 *     '
 *   scss\main.scss 27:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: There's already a module with namespace \"services\".\a     \2577 \a 22  \2502  @use \"components/services\";\d\a     \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original @use\a... \2502 \a 27  \2502  @use \"pages/services\";\d\a     \2502  ^^^^^^^^^^^^^^^^^^^^^ new @use\a     \2575 \a   scss\\main.scss 27:1  root stylesheet";
}
