@use "../abstracts/variables";

.mt-xxs {
  margin-top: variables.$space-xxs;
}

.mt-xs {
  margin-top: variables.$space-xs;
}

.mt-sm {
  margin-top: variables.$space-sm;
}

.mt-md {
  margin-top: variables.$space-md;
}

.mt-lg {
  margin-top: variables.$space-lg;
}

.mt-xl {
  margin-top: variables.$space-xl;
}

.mt-2xl {
  margin-top: variables.$space-2xl;
}
