.accreditations-trust {
  &__content {
    margin: 3rem auto;
    width: min(calc(100% - 4rem), 132rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & p {
      text-align: center;
    }
  }
  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__image {
    max-width: 17rem;
    /* contrast - 0 = completely black, 100 = represents original image */
    filter: grayscale(90%) contrast(50%);
  }
}
