@use "../abstracts/variables";

.bento {
  height: 70rem;
  background-color: variables.$colour-navy;
  &__grid {
    display: grid;
    margin: 0 auto;
    max-width: min(calc(100% - 4rem), 132rem);
    /* minmax(0, value) 
  - 0 value allows browser to shrink values SMALLER than natural width of content. 1fr = max size */

    /* We can't use fr unit for minimum size because browser first needs to know how small 
    every column is allowed to become. */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr 40% 1fr;
    grid-template-areas:
      "haulage haulage european critical"
      "haulage haulage video video"
      "warehousing storage solution solution";
    gap: 2rem;
    height: 100%;
    width: auto;
  }
  &__item {
    border-radius: 0.3rem;
    /* overflow: hidden for photos and videos */
    overflow: hidden;
    background-color: red;
    &--uk-haulage {
      grid-area: haulage;
    }
    &--european-haulage {
      grid-area: european;
    }
    &--time-critical {
      grid-area: critical;
    }
    &--video {
      grid-area: video;
      transition: all 2s ease-out;
      position: relative;
      &::before {
        content: "Reliable UK Haulage";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: variables.$colour-dark-blue;
        color: variables.$colour-white;
        animation: move-overlay 1s ease-in-out 4s forwards;
        // transform: translateX(-150%) skewX(20deg);
      }
    }
    &--warehousing {
      grid-area: warehousing;
    }
    &--storage {
      grid-area: storage;
    }
    &--transport-solution {
      grid-area: solution;
      background-color: variables.$colour-dark-blue;
    }
  }
  &__video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

@keyframes move-overlay {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
