@use "../abstracts/variables";

.button {
  padding: 1.2rem 2.4rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  /* new stack context */
  isolation: isolate;
  overflow: hidden;
  box-sizing: border-box;
  &--primary {
    background-color: variables.$colour-primary;
    color: variables.$colour-white;
    position: relative;
    &::before {
      background-color: variables.$colour-dark-blue;
    }
  }
  &--secondary {
    border: 1px solid variables.$colour-white;
    color: variables.$colour-white;
    position: relative;
    &::before {
      background-color: variables.$colour-navy-light;
    }
  }
  &--primary,
  &--secondary {
    justify-content: center;
    &:focus-visible {
      outline: 0.15rem solid variables.$colour-white;
      outline-offset: 0.5rem;
    }
    &::before {
      content: "";
      position: absolute;
      width: 130%;
      height: 100%;
      inset: 0;
      border-radius: 0.3rem;
      z-index: 1;
      transform: translateX(-150%) skewX(20deg);
      transition: all 0.8s ease-in;
    }
    &:hover::before {
      transform: translateX(-10%) skewX(20deg);
    }
  }
  &--ghost {
    color: variables.$colour-navy;
    background-color: transparent;
    border: 1px solid variables.$colour-navy;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 130%;
      height: 100%;
      inset: 0;
      border-radius: 0.3rem;
      z-index: 1;
      transform: translateX(-150%) skewX(20deg);
      transition: all 0.8s ease-in;
      background-color: variables.$colour-white-muted;
    }
    &:hover::before {
      transform: translateX(-10%) skewX(20deg);
    }
  }
  &__section {
    display: flex;
    gap: 3rem;
    &--content {
      display: flex;
      align-items: center;
      z-index: 2;
    }
  }
}
