@use "../abstracts/variables";

.service-cards {
  background-color: variables.$colour-white-muted;
  &__accent {
    line-height: 1;
  }
  &__content {
    margin: 0 auto;
    width: min(calc(100% - 4rem), 132rem);
    padding: 8rem 0;
  }
  &__intro {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  &__text {
    max-width: 58rem;
  }

  /* Cards section */
  &__cards {
    display: flex;
    gap: 2rem;
  }
}

/* individual cards */
.service-card {
  background-color: variables.$colour-navy;
  border-radius: 0.8rem;
  overflow: hidden;
  isolation: isolate;
  height: 100%;
  display: grid;

  width: 100%;
  // &__content {
  // }
  &__image {
    width: 100%;
    max-height: 100%;
    min-height: 28rem;
    object-fit: contain;
    object-position: top;
  }
  &__text {
    padding: 3rem;
    z-index: 2;
  }
  &__heading {
    color: variables.$colour-white;
  }
  &__paragraph {
    font-size: clamp(1.5rem, 1.46rem + 0.12vw, 1.6rem);
    color: variables.$colour-white-muted;
  }

  &__link {
    color: variables.$colour-white;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.46rem + 0.12vw, 1.6rem);
  }
}
