@use "../abstracts/variables";

.who {
  background-color: variables.$colour-white;
  &__accent {
    line-height: 1;
  }
  &__content {
    margin: 0 auto;
    width: min(calc(100% - 4rem), 132rem);
    padding: 8rem 0;
    display: flex;
    gap: 6rem;
    /* by default flex container is align-items: stretch - so image grid stretches 
    to match height of text column. would have to do align-items: start to stop this */
  }
  &__text-section {
    max-width: 58rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  &__image-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "office office"
      "meeting cab";
    width: 100%;
    grid-gap: 1rem;
  }
  &__image-item {
    border-radius: 0.8rem;
    /* overflow hidden on same element that has border-radius */
    overflow: hidden;
    &--one {
      grid-area: office;
      height: 100%;
      max-height: 27rem;
    }
    &--two {
      grid-area: meeting;
      height: 100%;
    }
    &--three {
      grid-area: cab;
    }
    & img {
      width: 100%;
      display: block;
      height: 100%;
      /* object fit needs defined width, height */
      object-fit: cover;
    }
  }
  &__button {
    justify-content: start;
  }
}
