@use "../abstracts/variables";

.service-video {
  background-color: variables.$colour-white-muted;
  &__content {
    margin: 0 auto;
    width: min(calc(100% - 4rem), 132rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding-bottom: 8rem;
  }
  &__video {
    border-radius: 0.8rem;
    overflow: hidden;
    width: 100%;
  }
  &__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  &__stat {
    border-radius: 0.8rem;
    background-color: variables.$colour-navy;
    padding: 2rem;
  }
  &__heading {
    color: variables.$colour-white;
  }
}
