@use "../abstracts/variables";

.service-cards {
  background-color: variables.$colour-white-muted;
  &__accent {
    line-height: 1;
  }
  &__content {
    margin: 0 auto;
    width: min(calc(100% - 4rem), 132rem);
    padding: 8rem 0 4rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
  &__intro {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  &__text {
    max-width: 58rem;
  }

  /* Cards section */
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}

/* individual cards */
.service-card {
  background-color: variables.$colour-navy;
  border-radius: 0.8rem;
  overflow: hidden;
  isolation: isolate;
  &__image-container {
    position: relative;
    /* height is for the after element to adhere to NOT the image */
    height: 50%;
    width: 100%;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: clamp(9rem, 10vw, 11rem);
      background: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 12, 33, 0.3) 10%,
        rgba(0, 12, 33, 0.6) 20%,
        rgba(0, 12, 33, 1) 100%
      );
    }
  }
  &__tag {
    position: absolute;
    bottom: 2rem;
    color: variables.$colour-white-muted;
    padding: 0.6rem 1.2rem;
    border-radius: 0.3rem;
    backdrop-filter: blur(1.5rem);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgb(255 255 255 / 10%);
    z-index: 2;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .material-symbols-outlined {
      font-size: 1.6rem;
    }
    & span {
      font-size: clamp(1.2rem, 1.1rem + 0.3vw, 1.4rem);
    }
  }
  &__image {
    width: 100%;
    /* why vw - viewport width -> responsive web layouts - element sizes = 
    usually tied to page width because the layout changes as browser becomes wider / narrower */
    height: clamp(20rem, 18vw, 25rem);
    object-position: center;
    object-fit: cover;
  }
  &__text {
    position: relative;
    padding: 0 3rem 3rem;
    display: flex;
    flex-direction: column;
    /* min-height element must be at least a height but can grow if content needs more room */
    min-height: 25rem;
    & div {
      margin-top: auto;
    }
  }
  &__heading {
    color: variables.$colour-white;
    line-height: 1;
  }
  &__paragraph {
    font-size: clamp(1.5rem, 1.46rem + 0.12vw, 1.6rem);
    color: variables.$colour-white-muted;
  }

  &__link {
    color: variables.$colour-white;
    font-weight: 500;
    font-size: clamp(1.5rem, 1.46rem + 0.12vw, 1.6rem);
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 0.3rem;
      background-color: rgb(68, 166, 230);
      left: 0px;
      top: 100%;
      margin-top: 1rem;
      transform: scaleX(0);
      transform-origin: left center;
      border-radius: 1px;
      transition: 0.5s ease-in;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}
