@use "../abstracts/variables";

body {
  font-family: variables.$font-primary;
  font-weight: 400;
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: 600;
  line-height: 1.15;
  color: variables.$colour-navy;
}

.h1 {
  /* min, 3.7rem add vw amount based on width of screen, max */
  font-size: clamp(4.2rem, 3.7rem + 1.4vw, 5.7rem);
  /* em means relative to the font size of the element itself */
  letter-spacing: -0.035em;
}

.h2 {
  font-size: clamp(3rem, 2.85rem + 0.7vw, 3.9rem);
  letter-spacing: -0.025em;
}

.h3 {
  font-size: clamp(2.4rem, 2.3rem + 0.4vw, 2.9rem);
  letter-spacing: -0.015em;
}

.h4 {
  font-size: clamp(1.9rem, 1.85rem + 0.2vw, 2.2rem);
  letter-spacing: -0.01em;
}

.accent {
  font-size: clamp(1.7rem, 1.6rem + 0.35vw, 2.1rem);
  letter-spacing: -0.01em;
  color: variables.$colour-light-blue;
  font-weight: 400;
}

p,
ul,
ol,
li,
div,
span {
  font-size: clamp(1.6rem, 1.56rem + 0.12vw, 1.7rem);
  line-height: 1.75;
}

p {
  color: variables.$colour-navy-light;
}

small {
  font-size: clamp(1.2rem, 1.1rem + 0.3vw, 1.4rem);
}

a {
  cursor: pointer;
}
