@use "../abstracts/variables";

.mt-xs {
  margin-top: variables.$space-xs;
}

.mt-sm {
  margin-top: variables.$space-sm;
}

.mt-md {
  margin-top: variables.$space-md;
}

.mt-lg {
  margin-top: variables.$space-lg;
}

.mt-xl {
  margin-top: variables.$space-xl;
}

.mt-2xl {
  margin-top: variables.$space-2xl;
}

.mb-xs {
  margin-bottom: variables.$space-xs;
}

.mb-sm {
  margin-bottom: variables.$space-sm;
}

.mb-md {
  margin-bottom: variables.$space-md;
}

.mb-lg {
  margin-bottom: variables.$space-lg;
}

.mb-xl {
  margin-bottom: variables.$space-xl;
}

.mb-2xl {
  margin-bottom: variables.$space-2xl;
}
