// Fonts
$font-primary: "Inter", Arial, sans-serif;

// Brand colours
$colour-navy: #000c21;
$colour-navy-light: #031a38;

// Primary Color
$colour-primary: #03398b;
$colour-secondary: #2f80ff;
$colour-secondary-hover: #0f4fb3;

// Neutral
$colour-white: #f8f7f3;

// Layout
$container-max-width: 130rem;

// Spacing
$space-xs: 0.8rem;
$space-sm: 1.6rem;
$space-md: 2.4rem;
$space-lg: 3.2rem;
$space-xl: 4.8rem;
$space-2xl: 6.4rem;
