// Fonts
$font-primary: "Inter", Arial, sans-serif;

// Brand colours
$colour-navy: #000c21;
$colour-navy-light: #031a38;
$colour-dark-blue: #00329b;
$colour-light-blue: #44a6e6;

$colour-primary: #2f80ff;

// Neutral
$colour-white: #f8f7f3;
$colour-white-muted: #e6e4de;

// Layout
$container-max-width: 132rem;

// Spacing
$space-xxs: 0.4rem;
$space-xs: 0.8rem;
$space-sm: 1.6rem;
$space-md: 2.4rem;
$space-lg: 3.2rem;
$space-xl: 4.8rem;
$space-2xl: 6.4rem;
