// Fonts
$font-primary: "Inter", Arial, sans-serif;

// Brand colours
$colour-navy: #000c21;
$colour-navy-light: #031a38;

// CTA
$colour-cta: #075ee8;
$colour-cta-hover: #064fc4;

// Primary Color
$colour-primary: #03398b;

// Neutral
$colour-white: #ffffff;

// Layout
$container-max-width: 128rem;
